**/.private/
**/.venvs/**/.git/
**/.venvs/**/.gitignore
**/.venvs/**/.venv/
**/libraries/**/.git/
**/libraries/**/.gitignore
**/rustup/downloads/
**/rustup/tmp/
**/rustup/toolchains/
**/rustup/update-hashes/
*.bak
*.dSYM
*.zwc*
.DS_Store
.zcompdump*
.zsh_history
.zsh_sessions
.zshenv_secondary
default-directory
default-file
nyx.default-release
